<div class="row-fluid span12">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="childExperience">Child care:</label>
      <select id="childExperience" class="multiselect" multiple="multiple">
        <option value="newborn">Newborn</option>
        <option value="oneToFive">1-5</option>
        <option value="sixToTen">6-10</option>
        <option value="elevenToFifteen">11-15</option>
        <option value="teens">Teens</option>
        <option value="own">Raised own children</option>
      </select>
    </div>

    <div class="control-group">
      <label class="control-label" for="elderly">Elderly care:</label>
      <div class="make-switch" id="elderly" data-on-label="yes" data-off-label="no">
        <input type="checkbox" checked="false">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="pet">Pet care:</label>
      <div class="make-switch" id="pet" data-on-label="yes" data-off-label="no">
        <input type="checkbox" checked="false">
      </div>
    </div>
  </form>
</div>

