<div class="row-fluid span12">
  <form class="form-horizontal">
    <div class="control-group">
      <input type="hidden" id="input-childExperience" value="none" name="child_experience" />
      <label class="control-label" for="childExperience">Child care:</label>
      <select id="childExperience" class="multiselect" multiple="multiple">
        <option value="newborn">Newborn</option>
        <option value="oneToFive">1-5</option>
        <option value="sixToTen">6-10</option>
        <option value="elevenToFifteen">11-15</option>
        <option value="teens">Teens</option>
        <option value="own">Raised own children</option>
      </select>
    </div>

    <div class="control-group">
      <input type="hidden" id="input-elderly" value="no" name="elderly" />
      <label class="control-label" for="elderly">Elderly care:</label>
      <div class="make-switch" id="elderly" data-on-label="yes" data-off-label="no">
        <input id="checkboxElderly" type="checkbox">
      </div>
    </div>

    <div class="control-group">
      <input type="hidden" id="input-pets" value="no" name="pets" />
      <label class="control-label" for="pet">Pet care:</label>
      <div class="make-switch" id="pet" data-on-label="yes" data-off-label="no">
        <input id="checkboxPets" type="checkbox">
      </div>
    </div>
  </form>
</div>

