<div class="row-fluid span12">
  <div class="control-group">
    <label class="control-label" for="cooking">Cooking:</label>
    <div class="make-switch" id="cooking" data-on-label="yes" data-off-label="no">
      <input type="checkbox" checked="false">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="cookingStyles">Cooking styles:</label>
    <select id="cookingStyles" class="multiselect" multiple="multiple">
      <option value="chinese">Chinese</option>
      <option value="western">Western</option>
      <option value="filipino">Filipino</option>
      <option value="indian">Indian</option>
      <option value="thai">Thai</option>
      <option value="japanese">Japanese</option>
      <option value="italian">Italian</option>
      <option value="baking">Baking</option>
      <option value="vegetarian">Vegetarian</option>
      <option value="other">Other</option>
    </select>
  </div>
</div>

