<div class="row-fluid span12">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="english">English:</label>
      <div class="make-switch" id="english" data-on-label="yes" data-off-label="no">
        <input type="checkbox" checked>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="cantonese">Cantonese:</label>
      <div class="make-switch" id="cantonese" data-on-label="yes" data-off-label="no">
        <input type="checkbox" checked="false">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="mandarin">Mandarin:</label>
      <div class="make-switch" id="mandarin" data-on-label="yes" data-off-label="no">
        <input type="checkbox" checked="false">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="arabic">Arabic:</label>
      <div class="make-switch" id="arabic" data-on-label="yes" data-off-label="no">
        <input type="checkbox" checked="false">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="other">Other:</label>
      <div class="make-switch" id="other" data-on-label="yes" data-off-label="no">
        <input type="checkbox" checked="false">
      </div>
    </div>
  </form>
</div>

