<div class="row-fluid span12">
  <div class="control-group">
    <input type="hidden" id="input-english" value="no" name="english" />
    <label class="control-label" for="english">English:</label>
    <div class="make-switch" id="english" data-on-label="yes" data-off-label="no">
      <input id="checkboxEnglish" type="checkbox">
    </div>
  </div>

  <div class="control-group">
    <input type="hidden" id="input-cantonese" value="no" name="cantonese" />
    <label class="control-label" for="cantonese">Cantonese:</label>
    <div class="make-switch" id="cantonese" data-on-label="yes" data-off-label="no">
      <input id="checkboxCantonese"  type="checkbox">
    </div>
  </div>

  <div class="control-group">
    <input type="hidden" id="input-mandarin" value="no" name="mandarin" />
    <label class="control-label" for="mandarin">Mandarin:</label>
    <div class="make-switch" id="mandarin" data-on-label="yes" data-off-label="no">
      <input id="checkboxMandarin"  type="checkbox">
    </div>
  </div>

  <div class="control-group">
    <input type="hidden" id="input-arabic" value="no" name="arabic" />
    <label class="control-label" for="arabic">Arabic:</label>
    <div class="make-switch" id="arabic" data-on-label="yes" data-off-label="no">
      <input id="checkboxArabic"  type="checkbox">
    </div>
  </div>

  <div class="control-group">
    <input type="hidden" id="input-other" value="no" name="other" />
    <label class="control-label" for="other">Other:</label>
    <div class="make-switch" id="other" data-on-label="yes" data-off-label="no">
      <input id="checkboxOther"  type="checkbox">
    </div>
  </div>
</div>

