<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%- title %></title>

    <%- include css-common %>

    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile-1.2.0.js"></script>
    <script type="text/javascript" src="bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- Facebook JavaScript -->
    <div id="fb-root"></div>
    <div class="container">
      <div class="row">
        <div class="span12 img-responsive text-center">
          <img src="images/logos/bang.on_128x128.png">
        </div>
      </div>
    </div>
    <center>
      <h4>Help us help you!</h4>
    </center>
    <script>
      window.fbAsyncInit = function() {

        FB.init({
          appId      : '<%- appID %>',
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          frictionlessRequests : true,
          xfbml      : true  // parse XFBML
        });

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            console.log(response);
            // the user is logged in and has authenticated your
            // app, and response.authResponse supplies
            // the user's ID, a valid access token, a signed
            // request, and the time the access token
            // and signed request each expire
            $.post(
              "/mobilelogin",
              {
                accessToken: response.authResponse.accessToken
              },
              function(data) {
                window.location = data.redirect;
              })
            } else if (response.status === 'not_authorized') {
              console.log("not_authorized");
              // the user is logged in to Facebook,
              // but has not authenticated your app
              FB.login(function(response) {
                console.log(response);
              }, {scope: '<%- scope %>'});
            } else {
              // the user isn't logged in to Facebook.
              FB.login(function(response) {
              });
            }
        });
      };

      // Load the SDK asynchronously
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

      // Here we run a very simple test of the Graph API after login is successful.
      // This testAPI() function is only called in those cases.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Good to see you, ' + response.name + '.');
        });
      }

    </script>
  </body>
</html>