<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%- title %></title>

    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile-1.2.0.js"></script>
    <%- include css-common %>

  </head>
  <body>
    <!-- Facebook JavaScript -->
    <div id="fb-root"></div>
    <script>
      $(document).ready(function() {
        $.ajaxSetup({ cache: true });
        $.getScript('//connect.facebook.net/en_UK/all.js', function(){
          FB.init({
            appId      : '<%- appID %>',                        // App ID from the app dashboard
            status     : true,                                 // Check Facebook Login status
            frictionlessRequests : true,
            xfbml      : true                                  // Look for social plugins on the page
          });

          $(document).trigger('fb-load');

        });
      });

      $(function () {
        $(document).bind('fb-load', function () {
          window.location.href = FB.getLoginUrl({ scope: "<%- scope %>" });
        });
      });
    </script>
  </body>
</html>