<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%- title %></title>

    <%- include css-common %>
  </head>
  <body>
    <!-- Facebook JavaScript -->
    <div id="fb-root"></div>
    <div class="container">
      <div class="row">
        <div class="span12 img-responsive text-center">
          <img src="images/logos/bang.on_128x128.png">
        </div>
      </div>
    </div>
    <div id="startbutton">
      <center>
        <h4>Help us help you!</h4>
        <img src="images/start_button.png">
      </center>
    </div>
    <script>
      window.fbAsyncInit = function() {

        FB.init({
          appId      : '<%- appID %>',
          status     : false, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          frictionlessRequests : true,
          xfbml      : true  // parse XFBML
        });



        /*FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            if (response.authResponse) {
              $.post("/mobilelogin",
                  {
                    accessToken: response.authResponse.accessToken
                  },
                  function(data) {
                    window.location = data.redirect;
                  });
            }
          } else {
            FB.login(function(response) {
              console.log(response);
            }, {scope: '<%- scope %>'});
          }
        });*/
      };


      // Load the SDK asynchronously
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
    </script>

    <script type="text/javascript" src="bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </body>
</html>