<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bang.on Privacy Policy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;" />

  <%- include css-common %>


  <div class='container'>
    <div class="hero-unit">
      <img src="images/bang.on_400x382.png">
      <h2>Bang.on Privacy Policy</h2>
      <p>This Privacy Policy was last modified on December 02, 2013.</p>
      <p>Bang.on ("us", "we", or "our") operates bangon.herokuapp.com (the "Site"). This page informs you of our policies
        regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
      <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to
        the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy,
        terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible
        at <a href="bangon.herokuapp.com/tos">bangon.herokuapp.com/tos</a>.</p>
    </div>
  </div>

  <%- include js-common %>
  <script src="twitter-bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
  <script src="formhelpers/js/bootstrap-formhelpers.min.js"></script>
  <script src="bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script src="bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
  <script src="js/main.js"></script>