<img src="images/bang.on_400x382.png">
<h2>Bang.on Privacy Policy</h2>
<p>This Privacy Policy was last modified on December 02, 2013.</p>
<p>Bang.on ("us", "we", or "our") operates bangon.herokuapp.com (the "Site"). This page informs you of our policies
  regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to
  the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy,
  terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
  accessible at <a href="bangon.heroku.com/tos">bangon.herokuapp.com/tos</a>.</p>