<div class="row-fluid">
  <div class="span3 text-center">
      <img src=<%- user_profile_url_140x140 %> class="img-polaroid" alt="Profile Image">
      <h4><%- user_first_name%> <%-user_last_name%></h4>
  </div>
  <div class="span9">
    <div class="row-fluid">
      Nationality:
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span id="dropdown_title">Select</span> <span class="caret"></span>
        </a>
        <ul id="nationality" class="dropdown-menu">
          <li><a>Filipino</a></li>
          <li><a>Indian</a></li>
          <li><a>Indonesian</a></li>
          <li><a>Nepalese</a></li>
          <li><a>Thai</a></li>
          <li><a>Sri Lankan</a></li>
          <li><a>Other</a></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="control-group">
        <label class="control-label" for="inputAge">Age:</label>
          <div class="controls">
            <div class="input-prepend ">
                    <input class="span3" id="inputAge" type="text" class="input-block-level">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

